body{

	font-family: Overpass;
	background-color: 0d1117;
	margin: 0;
}



a {
text-decoration: none;
  color: white;
  transition: 0.3s;
}

a:hover {
	text-decoration: none;
	text-shadow: 0 0 1.2em white;
}

.icon2{
	vertical-align: center;
	
 	grid-gap: 3px;
	align-self: left;
	text-align: left;
	color: white;
}
a {
text-decoration: none;
  color: white;
  transition: 0.3s;
}

a:hover {
	text-decoration: none;
	text-shadow: 0 0 1.2em white;
}
.icon{
	<h1 style="color:white;">
	<h2 style="color:white;">
	<h3 style="color:white;">
	vertical-align: left;
	
 	grid-gap: 30px;
	align-self: left;
	text-align: center;
	color: black;
}

.container  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  grid-gap: 16px;
}

.banner {

  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('images/tijolo.png');
  background-size: auto;
  background-position: cover;
  padding: 100px 100px;
  text-align: center;
}
.banner h1 {
  color: white;
text-shadow: 0 0 1.2em white;
  font-size: 45px;
  margin: 0;
}

.banner p {
  color: white;
  font-size: 24px;
}


.footer {
  background: black;
  text-align: center;
  padding: 24px 0;
}

.footer p {
  color: white;
}

