body{

	font-family: 'Roboto Mono',monospace;
	background-color: 0d1117;
	margin: 0;
}



a {
text-decoration: none;
  color: white;
  transition: 0.3s;
}

a:hover {
	text-decoration: none;
	text-shadow: 0 0 1.2em white;
}

.icon2{
	vertical-align: center;
	
 	grid-gap: 3px;
	align-self: center;
	text-align: center;
	color: white;
}
a {
text-decoration: none;
  color: white;
  transition: 0.3s;
}

a:hover {
	text-decoration: none;
	text-shadow: 0 0 1.2em white;
}
.icon{
	<h1 style="color:white;">
	<h2 style="color:white;">
	<h3 style="color:white;">
	vertical-align: left;
	
 	grid-gap: 30px;
	align-self: left;
	text-align: center;
	color: black;
}

.container  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;

  grid-gap: 16px;
}




.banner {
	
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('images/tijolo.png');
  background-size: auto;
  background-position: cover;
  padding: 100px 10px;
  text-align: center;
}
.banner h1 {
  color: white;
text-shadow: 0 0 3.2em white;
text-align: center;
  font-size: 48px;
  margin: 0;
}

.banner p {
  color: white;
  font-size: 24px;
}


.footer {
  background: black;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  position: fixed;
  padding: 24px 0;
}

.footer p {
  color: white;
}

.iconF{
 	grid-gap: 3px;
	align-self: center;
	text-align: left;
	color: white;
}
a {
text-decoration: none;
  color: white;
  transition: 0.3s;
}


@media screen and (max-width: 720px) {
   body{

	
	background-color: 0d1117;
	margin: 0;
	}
	
	.container  {
  	display: grid;
  	grid-template-columns: 1fr 1fr;

  	grid-gap: 12px;
	}
	
	img{
	width: 64px;
	height: 64px;
	}
	.icon {
   	width: auto;
    	height: auto;
    	}
}

@media screen and (max-width: 1024px) {
   body{

	
	background-color: 0d1117;
	margin: 0;
	}
	
	.container  {
  	display: grid;
  	grid-template-columns: 1fr 1fr;

  	grid-gap: 12px;
	}
	
	img{
	width: 64px;
	height: 64px;
	}
	.icon {
   	width: auto;
    	height: auto;
    	}
}
